.viewCats {
  max-width: 500px;
  padding: 20px;
  display: grid;
  grid-template-rows: repeat(3, auto) calc(100vh - 300px);
  row-gap: 15px;
  background-color: white;
}

.button {
  justify-self: start;
  min-width: 350px;

  @media (max-width: 500px) {
    min-width: auto;
  }
}

.pic {
  /* height: 300px; */
}

.loading {
  justify-self: center;
}

.error {
  justify-self: center;
  color: red;
}
